node_red.json
[{"id":"97b3087d.85ebc8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c9ae288f.de499","type":"tcp in","z":"97b3087d.85ebc8","name":"mote3","server":"client","host":"localhost","port":"60006","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":300,"wires":[["1e40c04a.721418"]]},{"id":"1e40c04a.721418","type":"function","z":"97b3087d.85ebc8","name":"clean printf","func":"var array_split = msg.payload.split(\" \");\n\nvar value = array_split[array_split.length - 1];\n\nvar nodeid = array_split[array_split.length - 2];\n\nmsg.payload = nodeid.toString() + \" \" + value.toString();\n   \n    if(nodeid==1){\n        msg.payload = \"field1=\"+value.toString()+\"&status=MQTTPUBLISH\";  \n        \n    }\n    \n    if(nodeid==2){\n        msg.payload = \"field2=\"+value.toString()+\"&status=MQTTPUBLISH\";  \n        \n    }\n    \n    if(nodeid==3){\n        msg.payload = \"field3=\"+value.toString()+\"&status=MQTTPUBLISH\";  \n        \n    }\n    \n    //node id 4,5 non prese in considerazione perche' in Thingspeak ci sono solo 3 charts.\n    \n    msg.topic=\"channels/1119275/publish/LXCXY0VZLWNH1OFK\"\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["311c5af2.6cc446"]]},{"id":"106a3f9.15b28c","type":"mqtt out","z":"97b3087d.85ebc8","name":"MQTT to ThingSpeak","topic":"","qos":"","retain":"false","broker":"d59befb2.8a2b8","x":1000,"y":300,"wires":[]},{"id":"5e1d5438.8487e4","type":"debug","z":"97b3087d.85ebc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":160,"wires":[]},{"id":"311c5af2.6cc446","type":"delay","z":"97b3087d.85ebc8","name":"","pauseType":"rate","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":300,"wires":[["106a3f9.15b28c","5e1d5438.8487e4"]]},{"id":"d59befb2.8a2b8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
